@import 'ember-paper';
@import 'ember-paper-link';

html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Roboto;

  .no-link {
    text-decoration: none;
    font-size: 20px;
  }

  .no-link:visited {
    color: black;
  }

  .body-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .link {
    color: black;
    text-decoration: none;
  }

  .avatar-photo {
    border-radius: 150px;
    overflow: hidden;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 400px;
  }

}
