<h3>Creating New Author</h3>

<PaperForm @onSubmit={{action "submit"}} as |form|>
  <div class="layout-row">
    <div class="layout-column flex-50">
      <form.input @label="Name" @value={{name}} @onChange={{action (mut name)}} @required={{true}} />
    </div>
  </div>
  <div class="layout-row">
    <form.submit-button @raised={{true}} @primary={{true}}>Submit</form.submit-button>
  </div>
</PaperForm>

{{outlet}}