<div class="list">
  {{#each @authors as |author|}}
    <PaperCard class="card" as |card|>
      <card.title as |title|>
        <title.text as |text|>
          <text.headline>{{author.name}}</text.headline>
          {{paper-link 'See my books' 'books' author}}
        </title.text>
        <title.media class="avatar-photo" @src={{author.photo}} @alt="userPhoto" />
      </card.title>
      <card.actions>
        {{paper-link 'Edit Me' 'authors.edit' author}}
        <PaperButton @onClick={{action "deleteConfirm" author}} @raised={{true}} @warn={{true}}>Delete</PaperButton>
      </card.actions>
    </PaperCard>
  {{/each}}
</div>

{{yield}}