<h2>List of {{@author}} Books</h2>

<ul>
  {{#each @books as |book|}}
    <li>
      {{book.name}}
      {{paper-link 'Edit Me' 'books.edit' book}}
      <PaperButton @onClick={{action "deleteConfirm" book}} @raised={{true}} @warn={{true}}>Delete</PaperButton>
    </li>
  {{/each}}
</ul>
{{yield}}