<!--<header>-->
<!--  <div>-->
<!--    Library-->
<!--  </div>-->
<!--  <div>-->

<!--  </div>-->
<!--</header>-->
<PaperToolbar>
  <PaperToolbarTools>
    <PaperButton @onClick={{action (mut rightSideBarOpen)}} @iconButton={{true}}>
      {{paper-icon "menu"}}
    </PaperButton>
    <h2>
      Library
    </h2>
  </PaperToolbarTools>
</PaperToolbar>
<PaperSidenavContainer @class="inner-sidenav">

  <PaperSidenav @class="md-whiteframe-z2" @name="right" @position="left" @open={{rightSideBarOpen}}
                @lockedOpen={{false}} @onToggle={{action (mut rightSideBarOpen)}}>
  <!--PaperSidenav @class="md-whiteframe-z2" @closeOnClick={{true}} @name="left2" @open={{true}}
                @lockedOpen={{leftSideBarLockedOpen}} @onToggle={{action (mut leftSideBarOpen2)}}-->
    <PaperToolbar as |toolbar|>
      <toolbar.tools></toolbar.tools>
    </PaperToolbar>
    <PaperContent @padding={{true}}>
      <LinkTo @route="authors" class="no-link">Authors</LinkTo>
    </PaperContent>
    <PaperContent @padding={{true}}>
      <LinkTo @route="books" @model="all" class="no-link">Books</LinkTo>
    </PaperContent>
  </PaperSidenav>


</PaperSidenavContainer>

<div class="body-wrapper">
  {{outlet}}
</div>

<ModalsContainer/>