{{paper-link 'Add Author' 'authors.add'}}
<PaperInput @class="flex-30" @label="Filter By Name" @placeholder="Enter name" @value={{name}} @onChange={{action (mut name)}} />
<!--div>
  {{paper-link 'Filter' 'authors' (query-params name=name) }}
</div-->
<AuthorList
  @authors={{filteredAuthors}}
/>

{{outlet}}