{{paper-link 'Add Book' 'books.add'}}
<PaperInput @class="flex-30" @label="Filter By Name" @placeholder="Enter name" @value={{name}} @onChange={{action (mut name)}} />
<BookList
  @author={{@model.name}}
  @books={{filteredBooks}}
/>

{{outlet}}